server:
  port: 8082

spring:
  application:
    name: webflux-stack

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
      stack: webflux
    export:
      prometheus:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    com.example.sse: INFO
    org.springframework.web: INFO
